._troublesome_tooltip_cls {
    display: none;
    text-align: center;
    position: absolute;
    height: auto;
    width: auto;
    z-index: 999999999;
    vertical-align: middle;
    padding: 2px 5px 2px 5px;
    margin: 0px 0px 0px 0px;
    align: absmiddle;
    line-height: normal;
    font-family: 맑은 고딕;
    font-weight: bold;
    border: 6px solid transparent;
    background-color: hsla(0, 0%, 20%, 0.9);
    overflow: hidden;
    white-space: nowrap;
    border-radius: 3px
}

._troublesome_tooltip_cls_query {
    color: #90EE90;
}

._troublesome_tooltip_cls_result {
    color: #fff;
}
